<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self'; style-src 'self' 'unsafe-inline';">
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/dashboard.css">
    <!--<link rel="stylesheet" type="text/css" href="assets/css/select.css">-->
    <link rel="stylesheet" type="text/css" href="../assets/fonts/Product Sans/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/all.min.css">
    <title>Maple</title>
  </head>
  <body>
    <div class="offline">Offline <i class="fa fa-frown"></i></div>
    <div class="status">Offline <i class="fa fa-frown"></i></div>
    <div class="maple-control-bar">
      <a href="#"></a>
      <a href="#" class="button"><i class="fas fa-cog"></i>&nbsp;&nbsp;Settings</a>
    </div>
    <div class="maple-transaction-holder">
    </div>
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/accounting.min.js"></script>
    <script src="../assets/js/moment-with-locales.js"></script>
    <script src="../assets/js/index.js"></script>

    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
  </body>
</html>
