/*@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold-webfont.eot');
    src: url('../fonts/Lato/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Lato/Lato-Bold-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular-webfont.eot');
    src: url('../fonts/Lato/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Lato/Lato-Regular-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Cera Pro', sans-serif;
    /*background-color: rgb(235, 235, 235);*/
    background-color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
 }

a.button{
  background: #35234B;
  /*box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.7);*/
  border-radius: 2px;
  padding: 6px 16px 4px;
  color: #fff;
  font-weight: bold;
}

a.button i{
  display: inline !important;
}



.maple-transaction-first{
  display: flex;
  flex-direction: column;
}

.maple-transaction-second{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.maple-domain{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #848484;
}

.maple-currency{
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 18px;
}

.maple-customer{
  font-size: 12px;
  color: #818181;
  margin-bottom: 20px;
}

.maple-tag {
  display: inline-block;
  border-radius: 2px;
  height: 20px;
  line-height: 18px;
  text-transform: capitalize;
  font-size: 12px;
  width: auto;
  color: #ffffff;
  padding: 1px 8px 1px 6px;
  position: relative;
  align-self:flex-start;
}

.maple-tag:before {
  border-bottom: 10px transparent solid;
  border-left: 12px #cceef0 solid;
  border-top: 10px transparent solid;
  content: '';
  height: 0;
  right: -11px;
  position: absolute;
  top: 0;
  width: 0;

}

.maple-tag:after {
  background: white;
  border-radius: 50%;
  content: '';
  height: 4px;
  right: 0;
  position: absolute;
  width: 4px;
  top: 8px;
}

.maple-tag.success{
  background: #60A316;
  border-radius: 2px;
}

.maple-tag.success::before{
  border-left: 12px #60A316 solid;
}

.maple-tag.failure{
  background: #D0021B;
  border-radius: 2px;
}

.maple-tag.failure::before{
  border-left: 12px #D0021B solid;
}

.maple-tag.reversed{
  background: #D68A0D;
  border-radius: 2px;
}

.maple-tag.reversed::before{
  border-left: 12px #D68A0D solid;
}

.maple-date{
  font-size: 12px;
  margin-bottom: 3px;
}


*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.maple-transaction{
  padding: 12px;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  transition: all 0.3s linear;
}

.maple-transaction:hover{
  border: 1px solid #a2a2a2;
}


.maple-new-event{
  margin: 0px -12px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.maple-new-event-text{
  margin: 0px 5px;
  font-size: 12px;
  color: #818181;
}

.maple-red-line{
  height: 1px;
  background: #D0021B;
  flex-grow: 1;
}

.maple-transaction.new{
  background: #FFFDE0;
}

.maple-transaction:last-of-type{
  margin-bottom: 0px;
}


.maple-single-transaction-holder{
  display: none;
  margin-top: 46px;
  min-height: calc(100vh - 47px);
  background-color: #e8e8e8;
  z-index: 1;
}

.maple-transaction-holder{
  padding: 12px;
  margin-top: 46px;
  z-index: 1;
}



.maple-graph{
  height: 150px;
  margin-left: -32px;
  margin-right: -32px;
  margin-bottom: 20px;
}

.maple-graph-canvas{
  width: 100%;
  height: 100%;
}

.maple-revenue-figure{
  font-size: 18px;
  display: block;
  font-weight: bold;
}

.maple-revenue-figure-text{
  font-size: 12px;
  color: #818181;
}

.maple-single-transaction-timeline{
padding: 20px
}

.maple-single-transaction-timeline-header{
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.maple-single-timeline{
  margin-bottom: 10px;
}

.maple-single-timeline-edge{

}

.maple-single-transaction-section{
  background-color: #fff;
  padding: 20px 18px;
}

.maple-single-transaction-section--flex{
  display: flex;
  align-items: center;
}

.maple-single-transaction-section--flex .maple-single-transaction-section-content{
  margin-bottom: 2px !important;
}

.maple-single-transaction-section-header{
  font-size: 12px;
  margin-bottom: 6px;
}

.maple-single-transaction-section-content{
  margin-bottom: 5px;
  font-size: 14px;
}

.maple-single-transaction-section-content:last-of-type{
  margin-bottom: 0px !important;
}

.maple-single-transaction-section-amount{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 24px;
}

.maple-single-transaction-customer-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
}
